.flyingCat {
  overflow: hidden;
  position: fixed;
  top: 40%;
  left: -300px;
}
.flyAnim {
  animation: fly 3s linear; /* 5 seconds duration, linear timing, infinite repeats */
}

@keyframes fly {
  0% {
    left: -500px;
  }
  100% {
    left: 105vw;
  }
}
