.project {
  a {
    color: #3366cc;
  }
  .backOverview {
    padding: 5px;
    position: fixed;
    background-color: var(--card---card-background-color);
    z-index: 1000;

    .backLink {
      display: flex;
      text-decoration: none;
      color: var(--text-color);
      opacity: 40%;

      width: fit-content;

      img{
        filter: var(--svg-filter)
      }
    }
    .backLink:hover {
      opacity: 1;
    }

    p {
      color: var(--text-color);
    }
  }
  .projectOverview {
    display: flex;
    flex-direction: column;

    .projectHeaderImage {
      width: 100%;
      background-size: cover;
      background-position: top;
      height: 300px;
      position: relative;
        
      &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--background-color), transparent);
    pointer-events: none;
  }
    }

    .textProjectContent {
      padding: 15px;
      width: 82%;
      margin: 0 auto;  

      h2 {
        @include titles-font();
        font-size: 56px;
        line-height: 98%;

        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 778px) {
          text-align: left;
          font-size: 3rem;
          width: 92%;
          margin: 0 auto;
          margin-top: 35px;
        }
        @media (max-width: 440px) {
          font-size: 2.25rem;
        }
      }
      p {
        @include text-font();
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        padding-bottom: 0px;
        opacity: 60%;

        text-align: left;

        @media (max-width: 778px) {
          font-size: 1.1rem;
          text-align: left;
          width: 92%;
          padding-left: 0;
          padding-right: 0;

          margin: 0 auto;
        }
      }
    }

    .mainProjectContent {
      display: flex;
      flex-direction: column;
      width: 82%;
      align-self: center;

      .imageContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        align-self: center;
      }

      
      .contentNote {
        padding-top: 15px;
        opacity: 0.6;
        width: 100%;
        align-self: center;

        @media (max-width: 600px) {
          width: 90%;
          text-align: left;
          margin: 0 auto;
        }
      }

      img {
        align-self: left;
        margin-top: 20px;
        width: 100%;

        @media (max-width: 778px) {
          width: 90%;
        }
      }

      pre {
        margin-top: 30px;
        align-self: center;
        width: 60%;

        @media (max-width: 600px) {
          font-size: 0.8rem;
          width: 90%;
        }
      }

      iframe {
        align-self: center;
        border-radius: 10px;
        margin-top: 30px;

        @media (max-width: 600px) {
          font-size: 0.7rem;
          width: 90%;
          height: 200px;
        }
      }

      video {
        width: 40%;
        align-self: center;
        margin-top: 30px;

        @media (max-width: 778px) {
          width: 60%;
        }
      }

    }
  }
}
