.projectNav {
  border-top: 2px solid #383838;

  display: flex;
  justify-content: space-around;

  bottom: 0px;
  z-index: 9;

  background-color: var(--background-color);

  li {
    cursor: pointer;

    list-style: none;
    text-align: center;
    color: var(--text-color);

    transform: translateY(-20px);

    width: 200px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #383838;
    background-color: var(--card-background-color);

    font-family: "Space Mono", monospace;
    font-size: 18px;
    font-weight: 400;

    
    @media (max-width: 1000px) {
      width: 200px;
      font-size: 22px;;
    }

    @media (max-width: 800px) {
      width: 150px;
      font-size: 18px;;
    }

       @media (max-width: 600px) {
      width: 120px;
      font-size: 15px;;
    }

       @media (max-width: 506px) {
      width: 100px;
      font-size: 1px;;
    }


    &:hover {
      background-color: var(--text-color);
      color: var(--background-color);
    }
  }

  #activeFilter {
    color: var(--background-color);
    background-color: var(--text-color);
    opacity: 100%;
    border: 1px solid var(--border-color);
  }
}

.projectListContainer {
  display: flex;
  justify-content: center;
  width: 1024px;
  margin-top: 30px;

  .projectCardLink {
    cursor: pointer;
    width: fit-content;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    text-decoration: none;

    transition: opacity 0.2s ease;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--project-border);
    filter: grayscale(100%);

    width: 300px;
    height: 300px;

    opacity: 90%;
    padding: 8px;
    background-color: var(--card-background-color);

    &:hover {
      transform: scale(1.02);
      opacity: 100%;
      filter: grayscale(0%);
    }

    h2{
      font-family: "Space Mono", monospace;
      font-size: 18px;
      font-weight: 800;
      color: var(--text-color);
      padding-left: 5px;
      margin-top: 8px;
      margin-bottom: 2px;
      margin-left: 8px;
    }

    p{
      font-size: 14px;
      opacity: 60%;
      color: var(--text-color);
      padding-left: 5px;
      margin-left: 8px;
    }

    .projectImage {
      width: 288px;
      height: 168px;
      background-size: cover;
      background-position: center;

      .externalLink {
        position: absolute;
        top: 15px;
        right: 10px;
        display: flex;
        gap: 5px;
        z-index: 1000;

        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;

        .externalLinkIcon{
          width: 28px;
          height: 28px;
          filter: var(--svg-filter);
          transition: opacity 0.15s ease;
          background-color: var(--icon-background-color);
          padding: 5px;
        }
      }
    }

    .projectTags{
      display: flex;
      gap: 5px;
      margin-top: 18px;

      p{
        font-family: "space mono", monospace;
        font-size: 11px;
        color: var(--text-color);
        opacity: 50%;
        width: fit-content;
        border: 1px solid var(--text-color);
         padding: 5px 10px 5px 10px;
      }

      p:first-child {
        opacity: 100%;
      }
    }

    @media (max-width: 778px) {
      flex-direction: column;
      height: 100%;
      margin-top: 80px;
    }

    @media (max-width: 1200px) {
      width: 320px;
      height: 320px;
    }

    @media (max-width: 1024px) {
      width: 280px;
      height: 280px;
    }

    @media (max-width: 900px) {
      width: 100%;
      max-width: 380px;
      height: auto;
      min-height: 320px;
    }
  }
}
